@font-face {
    font-family: "Poppins-Regular";
    src: url("../font/poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../font/Montserrat/static/Montserrat-Regular.ttf");
}

body {
    margin: 0;
    background-color: white;
    font-family: "Poppins-Regular";
    color: #522C00;
    height: 100vh;
}

header {
    font-size: 30px;
    background-color: #FFDE71;
    height: 75px;
    align-items: center;
    display: grid;
    grid-template-columns: auto 300px auto;
    align-items: center;
    padding: 0 15px;
}

#hamburger_menu {
    justify-self: start;
}

#hamburger_menu > .line {
    background-color: #522C00;
    height: 5px;
    width: 30px;
    margin: 5px;
    border-radius: 10px;
}

header > p {
    justify-self: center;
    margin: 0;
}

#container > .table_title > span:nth-child(1) {
    grid-area: names;
}

#container > .table_title > span:nth-child(2) {
    grid-area: desc;
}

#container > .table_title > span:nth-child(3) {
    grid-area: start;
}

#container > .table_title > span:nth-child(4) {
    grid-area: end;
}

.btn {
    color: #522C00;
    background-color: #FFC300;
}

#add_btn {
    width: 90px;
    height: 90px;
    font-size: 75px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
}