#container {
    display: grid;
    grid-template-areas:
        "title"
    ;
    width: 90%;
    justify-self: center;
}

#container > .table_title {
    grid-area: title;
    width: 100%;
    display: none;
    grid-template-areas: 
        "names desc start end"
    ;
    grid-template-columns: repeat(4, 25%);
    justify-items: center;
    font-size: 20px;
}

.content_row {
    /* display area akan disetting setelah template grid ditambahkan */
    display: none;
    margin-top: 10px;
    border: 1.2px solid black;
    border-radius: 10px;
    height: 70px;
    width: 100%;
    grid-template-columns: repeat(4, 25%);
    grid-template-areas: 
        "title desc st et"
    ;
    justify-items: center;
    align-items: center;
    box-shadow: 4px 4px 4px 0 gray;
}

.content_row > .title {
    grid-area: title;
}

.content_row > .desc {
    grid-area: desc;
}

.content_row > .st {
    grid-area: st;
}

.content_row > .et {
    grid-area: et;
}

.content_row:hover {
    background-color: #FFF4AE;
}