#empty_container > span {
    font-size: 30px;
    color: #676767;
    display: block;
    font-family: "Montserrat-Regular";
    font-style: italic;
    position: absolute;
}

#empty_container > span:nth-child(1) {
    right: 45%;
    bottom: 50%;
}

#empty_container > span:nth-child(2) {
    left: 45%;
    top: 50%;
}