#add_pop-up {
    display: none;
    position: absolute;
    border: 1px solid #FF9000;
    border-radius: 10px;
    overflow: hidden;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFCC;
}

#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #E3E3E3;
    opacity: 0.67;
    display: none;
    top: 0;
}

#pop-up_header {
    background-color: #FFDE71;
    text-align: center;
    padding: 15px;
    height: 35px;
}

#pop-up_header > p {
    margin: 0;
    font-size: 25px;
}

#pop-up_header > #exit_btn {
    font-size: 25px;
    color: #522C00;
    position: absolute;
    top: 0;
    right: 5px;
    border: 0 solid;
    background-color: #FFDE71;
}

#add_pop-up_container {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: repeat(2, 25px) 10px 25px 75px 10px repeat(2, 25px);
    grid-template-areas: 
        "title_text ."
        "title_input ."
        ". ."
        "desc_text ."
        "desc_input desc_input"
        ". ."
        "st_text ed_text"
        "st_input ed_input"
    ;
    column-gap: 10px;
    padding: 15px;
}

#add_pop-up_container > .text_title {
    grid-area: title_text;
}

#add_pop-up_container > #input_title {
    grid-area: title_input;
}

#add_pop-up_container > .text_desc {
    grid-area: desc_text;
}

#add_pop-up_container .optional_msg {
    font-size: 10px;
}

#add_pop-up_container > #input_desc {
    grid-area: desc_input;
    resize: none;
}

#add_pop-up_container > .text_start_time {
    grid-area: st_text;
}

#add_pop-up_container > .text_end_time {
    grid-area: ed_text;
}

#add_pop-up_container > #input_start_time {
    grid-area: st_input;
}

#add_pop-up_container > #input_end_time {
    grid-area: ed_input;
}

#add_pop-up_container > input, textarea {
    border-radius: 5px;
    border: 1.5px solid #4E2A00;
    background-color: white;
}

#accept_btn {
    bottom: 10px;
    right: 10px;
    position: fixed;
    height: 40px;
    width: 70px;
    border-radius: 10px;
    font-size: 20px;
}